<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invio Dati</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Aggiungi jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Aggiungi jQuery UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <style>
        /* Stili CSS qui */
    </style>
</head>
<body>
    <h2>Aggiorna artista</h2>
    <form action='/api/updateArtista' method='post'>
        <label for="nome_artista">Nome artista</label>
        <input type="text" id="nome_artista" name="nome"><br><br>
        <label for="data_nascita">Data di nascita</label>
        <!-- Input per la selezione della data di nascita -->
        <input type="text" id="data_nascita" name="data_nascita"><br><br>
        <label for="data_morte">Data di morte</label>
        <!-- Input per la selezione della data di morte -->
        <input type="text" id="data_morte" name="data_morte"><br><br>
        <button onclick="inviaDatiJSONartista()">Aggiorna dati artista</button>
    </form>

    <script>
        // Inizializzazione del Datepicker per la data di nascita
        $(function() {
            $("#data_nascita").datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'yy-mm-dd',
                minDate: new Date(1900, 0, 1),
                maxDate: new Date(2024, 11, 31)
            });
        });

        // Inizializzazione del Datepicker per la data di morte
        $(function() {
            $("#data_morte").datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'yy-mm-dd',
                minDate: new Date(1900, 0, 1),
                maxDate: new Date(2024, 11, 31)
            });
        });
    </script>
</body>
</html>
